<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

<div class="container" style="background-image: url('/images/spring.jpg');">

    <h3></h3>
        <div class="centered">
          <div class="form-group">
            <%= f.label :email, :class => "white" %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>

            <h3></h3>
            <div class="actions" class="form-control">
              <%= f.submit "Sign up", :class => "btn btn-success"%>
            </div>
              <% end %>

</div>

<img src="/images/spring.jpg" class="img-responsive" alt="Responsive image">



