<!-- Validation failure messages -->
<% if @page.errors.any? %>
  <% @page.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit <%= @page.title %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_page/<%= @page.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for title -->
      <div class="form-group">
        <label for="title" class="control-label">
          Title
        </label>

        <input type="text" id="title" name="title" placeholder="Title" class="form-control" value="<%= @page.title %>">
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <textarea id="description" name="description" placeholder="Description" class="form-control" rows="3"><%= @page.description %></textarea>
      </div>

      <!-- Label and input for photo -->
      <div class="form-group">
        <label for="photo" class="control-label">
          Upload a New Photo
        </label>

        <input name="photo" type="file" id="photo" name="photo" placeholder="" class="form-control" value="<%= @page.photo %>">
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id %>">
      </div>

      <button class="btn btn-warning">
        Update Page
      </button>
      or
      <a href="/pages/<%= @page.id %>">Cancel</a>
    </form>
  </div>
</div>
