<!-- Validation failure messages -->
<% if @page.errors.any? %>
  <% @page.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Page #<%= @page.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_page/<%= @page.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for for -->
      <div class="form-group">
        <label for="for" class="control-label">
          For
        </label>

        <input type="text" id="for" name="for" placeholder="For" class="form-control" value="<%= @page.for %>">
      </div>

      <!-- Label and input for comment_id -->
      <div class="form-group">
        <label for="comment_id" class="control-label">
          Comment
        </label>

        <input type="text" id="comment_id" name="comment_id" placeholder="Comment" class="form-control" value="<%= @page.comment_id %>">
      </div>

      <!-- Label and input for blog_id -->
      <div class="form-group">
        <label for="blog_id" class="control-label">
          Blog
        </label>

        <input type="text" id="blog_id" name="blog_id" placeholder="Blog" class="form-control" value="<%= @page.blog_id %>">
      </div>

      <!-- Label and input for calendar_id -->
      <div class="form-group">
        <label for="calendar_id" class="control-label">
          Calendar
        </label>

        <input type="text" id="calendar_id" name="calendar_id" placeholder="Calendar" class="form-control" value="<%= @page.calendar_id %>">
      </div>

      <!-- Label and input for description -->
      <div class="form-group">
        <label for="description" class="control-label">
          Description
        </label>

        <textarea id="description" name="description" placeholder="Description" class="form-control" rows="3"><%= @page.description %></textarea>
      </div>

      <!-- Label and input for photo -->
      <div class="form-group">
        <label for="photo" class="control-label">
          Photo
        </label>

        <input type="text" id="photo" name="photo" placeholder="Photo" class="form-control" value="<%= @page.photo %>">
      </div>

      <!-- Label and input for title -->
      <div class="form-group">
        <label for="title" class="control-label">
          Title
        </label>

        <input type="text" id="title" name="title" placeholder="Title" class="form-control" value="<%= @page.title %>">
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>

        <input type="text" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= @page.user_id %>">
      </div>

      <button class="btn btn-warning">
        Update Page
      </button>
      or
      <a href="/pages/<%= @page.id %>">Cancel</a>
    </form>
  </div>
</div>
