<div class="page-header">
  <h3>Page #<%= @page.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Title</dt>
      <dd><%= @page.title %></dd>

      <dt>Description</dt>
      <dd><%= @page.description %></dd>

      <dt>Firstimage</dt>
      <dd><%= @page.firstimage %></dd>

      <dt>Secondimage</dt>
      <dd><%= @page.secondimage %></dd>

      <dt>Thirdimage</dt>
      <dd><%= @page.thirdimage %></dd>

      <dt>Fourthimage</dt>
      <dd><%= @page.fourthimage %></dd>

      <dt>User</dt>
      <dd><%= @page.user_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/pages" class="btn btn-primary">
        Back
      </a>
      <a href="/pages/<%= @page.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_page/<%= @page.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
