<div class="container">

    <div class="row">
        <div class="col-md-5">
        <div class="justified">
          <br />
          <img src="<%= @page.photo %>" width="200"><br /><br />
          <div class="panel panel-default">
            <div class="panel-body">
              <%= @page.description %>
            </div>
          </div>
        </div>
        </div>

        <div class="col-md-6">


        </div>
    </div>

    <div class="row">
        <div class="col-md-5">
        <form action="/create_comment" method="post">
                  <!-- Hidden input for authenticity token to protect from forgery -->
                  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

                <!-- Label and input for page_id -->
                <div class="form-group">
                  <input type="hidden" id="page_id" name="page_id" value="<%= @page.id %>">
                </div>

                <!-- Label and input for user_id -->
                <div class="form-group">

                  <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="<%= @comment.name %>">
                </div>

                <!-- Label and input for body -->
                <div class="form-group">

                  <textarea id="body" name="body" placeholder="Add Comment" class="form-control" rows="1"><%= @comment.body %></textarea>
                </div>

                <button class="btn btn-success">
                    Post
                </button>
          </form>
          <br />
          <% @page.comments.each do |comment|%>
          <div class="panel panel-default">

            <div class="panel-body">
              <b><%= comment.name %></b>
              <small>
                    <%=time_ago_in_words(comment.created_at)%> ago
              </small> <br />
              <%= comment.body %> <br />

              <% if current_user.present? %>
                  <div class="btn-group btn-group-xs">

                      <a href="/delete_comment/<%= comment.id %>" class="btn btn-danger" rel="nofollow">
                      Delete
                      </a>
                  </div>
              <% else %>

              <% end %>

            </div>
          </div>
          <% end %>
        </div>
        <div class="col-md-6">
            <% if current_user.present? %>
              <a href="/blogs/new" class="btn btn-success">Add Update</a>
            <% else %>

            <% end %>
          <br />

          <% @page.blogs.each do |blog|%>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"><%= blog.title %></h3>
              <small>
                    <%=time_ago_in_words(blog.created_at)%> ago
              </small>
            </div>
            <div class="panel-body">
              <%= blog.body %>
               <br />

              <% if current_user.present? %>

                  <div class="btn-group btn-group-xs btn-group-justified" role="group" aria-label="...">
                    <div class="btn-group" role="group">
                      <a href="/blogs/<%= blog.id %>/edit" class="btn btn-warning">Edit</a>
                    </div>
                    <div class="btn-group" role="group">
                      <a href="/delete_blog/<%= blog.id %>" class="btn btn-danger" rel="nofollow">
                      Delete
                      </a>
                    </div>
                  </div>

              <% else %>

              <% end %>

            </div>
          </div>
          <% end %>
        </div>
        </div>
</div>

