<div class="page-header">
  <h1>
    Calendars
    <a href="/calendars/new" class="btn btn-lg btn-success">New Calendar</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Comment</th>
        <th>Name</th>
        <th>Chosendate</th>
        <th>Page</th>
        <th>Actions</th>
      </tr>

      <% @calendars.each do |calendar| %>
      <tr>
        <td><%= calendar.comment %></td>
        <td><%= calendar.name %></td>
        <td><%= calendar.chosendate %></td>
        <td><%= calendar.page_id %></td>
        <td>
          <a href="/calendars/<%= calendar.id %>" class="btn btn-primary">Show</a>
          <a href="/calendars/<%= calendar.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_calendar/<%= calendar.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
