<div class="page-header">
  <h3>Calendar #<%= @calendar.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Comment</dt>
      <dd><%= @calendar.comment %></dd>

      <dt>Name</dt>
      <dd><%= @calendar.name %></dd>

      <dt>Chosendate</dt>
      <dd><%= @calendar.chosendate %></dd>

      <dt>Page</dt>
      <dd><%= @calendar.page_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/calendars" class="btn btn-primary">
        Back
      </a>
      <a href="/calendars/<%= @calendar.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_calendar/<%= @calendar.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
